@mixin separator-horizontal-line {
    border-bottom: 1px solid #d9fff5;
}

@mixin header-vertical-line {
    content: "";

    display: inline-block;
    width: 2px;
    height: 37px;
    margin: auto 16px;

    background-color: #eaeaea;
    border-radius: 1px;
}

@mixin page-padding-sm {
    padding-left: 16px;
    padding-right: 16px;
}

@mixin page-padding-md {
    padding-left: 24px;
    padding-right: 24px;
}

@mixin page-padding-lg {
    padding-left: 32px;
    padding-right: 32px;
}

@mixin current-page {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 4px;
    height: 32px;

    background: #41f6d7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-50%);
}