.button {
  display: block;
  min-width: 120px;
  height: 32px;
  min-height: 32px;
  padding: 0 12px;
  padding-right: 20px;
  padding-left: 20px;

  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -0.15px;

  background-color: $btn-color;
  border: 0;
  border-radius: 16px;
  cursor: pointer;

  appearance: none;


  &::after {
    content: "";

    display: inline-block;
    width: 8px;
    height: 10px;
    margin-bottom: 1px;
    margin-left: 13px;

    vertical-align: middle;

    background-image: url(../img/icons/dropdown.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
