.header {
  min-height: 88px;
  padding: 19px 0;
  @include page-padding-sm;

  background-color: #ffffff;
 @include separator-horizontal-line;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
  }

  &__help {
    display: none;
  }

  &__btn-around {
    flex-shrink: 0;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__right {
    display: inline-flex;
  }

  div + &__right::before {
    @include header-vertical-line;
  }
}

@media (min-width: 360px) {
  .header {
    @include page-padding-md;
  }
}

@media (min-width: $screen-md) {
  .header {
    &__btn-around ~ &__logo::before {
      @include header-vertical-line;
      margin-left: 0;
    }

    &__help {
      display: inline-flex;
    }
  }
}

@media (min-width: $screen-lg) {
  .header {
    display: none;

    &__toggle {
      display: none;
    }
  }
}
