.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__sidebar {
    width: 320px; 
    flex-shrink: 0; 
    transition: transform 0.3s ease; 
  }

  &__content {
    flex-grow: 1;
    margin-left: 0; 
    transition: margin-left 0.3s ease; 
    width: 100%;
    overflow-x: hidden; 
  }
}

.services__img {
  max-width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}


@media (min-width: 1440px) {
  .layout {
    flex-direction: row;

    &__sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 320px;
      height: 100vh;
      z-index: 100; 
      transform: translateX(0); 
      background-color: #ffffff; 
      box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2), -2px 0 4px rgba(69, 79, 126, 0.02); 
    }

    &__content {
      margin-left: 320px; 
      flex-grow: 1; 
      width: calc(100% - 320px);
    }

    
    &--sidebar-open {
      .layout__sidebar {
        transform: translateX(0); 
      }

      .layout__content {
        margin-left: 320px; 
      }
    }
  }
}