.nav {
  display: flex;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__descr {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}
