.price-services {
  padding-bottom: 47px;

  &__section-title {
    margin-bottom: 16px;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 260px;
    height: 200px;
    margin-left: 16px;
    padding: 16px;

    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    background-color: $bg-color;
    border-radius: 6px;
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $second-text-color;;
  }

  &__titles {
    display: none;
  }

  &__button {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  &__descr {
    max-width: 421px;
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 16px;

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__link {
    display: block;
    margin-right: 16px;
    margin-left: 16px;

    font-weight: 500;
    color: inherit;
    text-decoration: none;

    border-radius: 6px;

    &::after {
      content: "";

      display: inline-block;
      width: 8px;
      height: 10px;
      margin-left: 13px;

      vertical-align: middle;

      background-image: url(../img/icons/pink-arrow-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media (min-width: $screen-md) {
  .price-services {
    &__section-title {
      margin-bottom: 31px;
    }

    &__container {
      margin-right: 16px;
      margin-bottom: 24px;
      margin-left: 16px;
    }

    &__list {
      margin-bottom: 0;
    }

    &__item {
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 64px;
      margin-left: 0;

      border-bottom: 1px solid #eaeaea;
      border-radius: 0;

      &:last-child {
        border-bottom: 0;
      }
    }

    &__title {
      display: none;
    }

    &__titles {
      display: flex;
      padding: 16px;

      font-size: 14px;
      line-height: 16px;
      color: $second-text-color;

      background-color: $bg-color;
      border-bottom: 0;
;
    }

    &__stub {
      width: 120px;

      visibility: hidden;
    }

    &__service {
      flex-basis: 372px;
    }

    &__price {
      flex-basis: 74px;
    }

    &__time {
      flex-basis: 81px;
    }

    &__button {
      position: initial;
    }
  }
}

@media (min-width: $screen-lg) {
  .price-services {
    &__service {
      flex-basis: 470px;
    }
  }
}


