.services {
  &__header {
    margin-bottom: 32px;
    padding-right: 10px;
  }

  &__modal {
    display: none;
  }

  &__wrapper-menu {
    height: 36px;
    margin-bottom: 32px;
    overflow: hidden;
  }

  &__menu {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 16px;
    overflow: auto;
  }


  &__tab {
    flex-shrink: 0;
    margin-right: 20px;
    transition: all 0.3s ease;
    
    &:hover {
      transform: translateY(-3px);
      color: $second-text-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__info {
    margin-bottom: 30px;
  }

  &__descr {
    margin-left: 16px;
    margin-right: 16px;
  }

  &__text {
    margin-bottom: 10px;

    font-size: 14px;
    letter-spacing: 0.2px;
    transition: all 0.3s ease;
    overflow: hidden;
  }

  &__text p {
    margin: 0;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__text-path1,
  &__text-path2,
  &__text-path3 {
    display: none;
  }

  &__text-path1 {
    display: inline;
  }

  .services__hidden-text {
    display: none;
  }
  
  .services__hidden-text--show {
    display: block;
    margin-top: 16px;
  }

  &__img {
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
    }
  }
}

@media (min-width: $screen-md) {
  .services {
    &__info {
      display: flex;
      justify-content: space-between;
    }

    &__text-path2 {
      display: inline;
    }

    &__descr,
    &__img {
      width: 49%;
    }
  }
}

@media (min-width: $screen-lg) {
  .services {
    &__header {
      display: flex;
    }

    &__title {
      margin-right: auto;
    }

    &__modal {
      display: flex;
    }

    &__caption {
      display: initial;
      margin-right: 8px;

      font-weight: 500;
      vertical-align: middle;
    }

    &__item {
      display: inline-flex;
      align-items: center;
    }

    &__item + &__item {
      margin-left: 32px;
    }

    &__wrapper-menu {
      height: auto;
      overflow: initial;
    }

    &__menu {
      flex-wrap: wrap;
      overflow: initial;
    }

    &__text-path3 {
      display: inline;
    }
  }
}
