.showmore {
  display: none;
  padding: 0;

  font: inherit;
  font-weight: 500;
  color: inherit;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  appearance: none;

  &::before {
    content: "";

    display: inline-block;
    width: 7px;
    height: 10px;
    margin-right: 16px;
    margin-left: 5px;

    background-image: url(../img/icons/readmore.svg);
    background-size: contain;
  }
}

@media (min-width: $screen-md) {
  .showmore {
    display: block;
    &--show::before {
      transform: rotate(180deg);
    }
  }
}
