.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  width: 100%;
  height: 100%;
  padding-top: 19px;
  padding-bottom: 32px;
  overflow: auto;

  background-color: #ffffff;
  transform: translateX(-100%);

  transition: 0.6s all;

@include page-padding-sm;

  &--show {
    transform: translateX(0%);
  }

  &__header {
    display: block;
    min-height: auto;
    margin-bottom: 25px;
    padding: 0;

    border-bottom: 0;
  }

  &__btn-around {
    margin-right: 16px;
    &:last-of-type {
      margin-right: 0;
    }
  }

  &__btn-around ~ &__logo::before {
    display: none;
  }

  &__nav {
    margin-bottom: 50px;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
  }

  &__item {
    position: relative;

    margin-bottom: 32px;

    font-weight: 500;

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      color: $second-text-color;
    }

    &--active::before {
      margin-left: -16px;

      @include current-page;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__help {
    display: flex;
    margin-bottom: 16px;
  }

  &__help-item {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__footer {
    margin-top: auto;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
}

@media(min-width: 360px) {
  .sidebar {
    @include page-padding-md;

    &__item--active::before {
      margin-left: -24px;
    }
  }
}

@media(min-width: $screen-md) {
  .sidebar {
    width: 320px;

    &--show {
      box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2), -2px 0 4px rgba(69, 79, 126, 0.02);
    }

    &__header {
      margin-bottom: 50px;
    }
  }

}

@media (min-width: $screen-lg) {
  .sidebar {
    padding-top: 30px;
    position: relative;

    transform: translateX(0%);

    transition: unset;
    &__header {
      margin-bottom: 40px;
    }

    &__nav {
      margin-bottom: 240px;
    }

    &__footer {
      margin-bottom: auto;
    }

  }
}




