.title {
  position: relative;

  margin: 0;
  padding-left: 12px;

  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;

  &::before {
   @include current-page;

    height: 40px;

  }
}

@media(min-width: $screen-md) {
  .title {
    padding-left: 20px;
  }
}

@media(min-width: $screen-lg) {
  .title {
    padding-left: 30px;
  }
}